.row.top_row
  .col-sm-6.user_att
    %h2= @user.email
    - if @user.avatar_file_name
      = image_tag @user.avatar.url(:thumb)
  .col-sm-6
    = link_to 'Logout', log_out_path, class: ['btn', 'btn-danger', 'logout_btn']
  .row
    = link_to 'Add Photo', new_user_photo_path(@user), class: ['btn', 'btn-success', 'add_photo_btn']
    = link_to 'Show Users', view_all_users_users_path(@user), class: ['btn', 'btn-info', 'view_all_users_btn']
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
.row
  - @photos.each  do |photo|
    .row
    .well.col-sm-4
      -user = User.find(photo.user_id)
      %h4{style: "font-size: 15px;"}= user.email
      %h4{style: "font-size: 12px;"}= photo.created_at
      = image_tag photo.image.url(:medium)
      %h4{style: "text-align: center; font-size: 20px;"}= photo.title
      - if photo.user_id == current_user.id
        = button_to "Delete your photo", photo_path(photo), method: :delete, data: { confirm: "Are you sure?" }, style: "background-color: #f54242; color: white; border: 1px solid grey; border-radius: 3px; padding: 0.5px 1px;"
      = form_for @tag do |f|
        = f.hidden_field :photo_id, value: photo.id
        = f.collection_select :user_id, @users, :id, :email
        = f.submit "Tag User"
      - photo.tags.each do |tag|
        = tag.user.email
      = form_for @comment do |c|
        = c.hidden_field :photo_id, value: photo.id
        = c.hidden_field :user_id, value: current_user.id
        = c.text_field :comment_text, placeholder: "Type your comment"
        = c.submit "Post Comment"
      - photo.comments.each do |comment|
        .comment-row{style: "display: flex; align-items: center; gap: 15px;"}
          %span.comment-text= "#{User.find(comment.user_id).email}: #{comment.comment_text}"
          - if current_user.id == comment.user_id
            = button_to "Delete your comment", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" }, style: "background-color: #f54242; color: white; border: 1px solid grey; border-radius: 3px; padding: 0.5px 1px;"
